.cards {
  height: calc(100% - min(3vw, 30px));
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(calc(50% - min(1.5vw, 15px)), auto);
  grid-gap: min(3vw, 30px);
  background-color: #f6f6f6;
  border-radius: 30px;
  padding: min(3vw, 30px);
  overflow-y: scroll;
}
.card {
  position: relative;
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  text-decoration: none;
  transition: 0.3s;
}
.card:hover {
  cursor: pointer;
  box-shadow: #000 0px 0px 10px;
  background-color: #ff6060;
}
.card img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: opacity 0.3s;
}
.card:hover img {
  opacity: 0.1;
}
.card p {
  color: white;
  position: absolute;
  bottom: 8%;
  left: 8%;
  text-align: left;
  text-shadow: #000 0px 0px 10px;
  font-weight: 700;
  width: 70%;
  z-index: 1;
  font-size: 18px;
}
