@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: Montserrat;
  border: none;
  box-sizing: border-box;

 /* border: solid 1px black;*/
}
p{
  font-size: 14px;
}
a:visited {
  color: black;
}
img {
  object-fit: cover;
}
body {
  max-width: 1440px;
  margin: auto;
  background-color: #fff;

}
.content-container{
  height: 100vh;
  width: 100%;
}
header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding:  30px 0px;
  z-index: 2;
  background-color: #fff;
  .logo{
    padding: 20px;
  
  }
  .logo:hover {
    fill : #fff;
    transition: 0.3s;
    background-color: #FF6060;
    path {
      fill : #fff;
      transition: 0.3s;
    }
    border-radius: 10px;
  }
}
.nav {
  display: flex;
  flex-wrap: nowrap;
  font-weight: 500;
  font-size: 24px;
  a {
    padding: 5px 20px;
    margin: 0 5px;
  }
  a:hover {
    color: #fff;
    background-color: #FF6060;
    border-radius: 10px;
    transition: 0.3s;
  }

}
.banner, .banner img {
  width: 100%;
  aspect-ratio: 7/1;
  border-radius: 40px;
}
.banner{
  p {
    position: absolute;
    color: #fff;
    width: 100%;
    top: 38%;
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    z-index: 1;
    filter: drop-shadow(8px 8px 8px rgb(0, 0, 0));  }
  img {
    filter: brightness(0.4);
  }
  position: relative;
  margin-bottom: 20px;
  height: 100%;

}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  background-color: #F6F6F6;
  border-radius: 40px;
  padding: 30px;
  overflow-y: scroll;
  height: 590px;
}
/*.cards::-webkit-scrollbar-button, .cards::-webkit-scrollbar, .cards::-webkit-scrollbar-thumb, .cards::-webkit-scrollbar-track {
  background-color: transparent;
  scrollbar-color: transparent;
  scrollbar-width: 0px;
}*/
.cards a {
  color: #fff;
  border-radius: 20px;
  box-shadow: #0000002a 0px 0px 10px;

}
.cards img:hover, .cards a:hover, .cards p:hover {
  cursor: pointer;
  transition: 0.3s;
  box-shadow: #000 0px 0px 10px;
  background-color: #FF6060;

}
.cards img:hover {
  opacity: 0.1;
}
.cards p{
  color: white;
  position: relative;
  bottom: 50px;
  left: 20px;
  text-align: left;
  text-shadow: #000 0px 0px 10px;
  font-weight: 700;
  width: 70%;

}
.cards img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
footer {
  position: absolute;
  left: 0;
  background-color: black;
  color: white;
  text-align: center;
  width: 100vw;
  padding: 50px;
  .logo{
    padding: 20px;
    fill : #fff;
    width: 100%;
  
  }
  .logo:hover {
    transition: 0.3s;
    background-color: #FF6060;
    path {
      fill : #fff;
      transition: 0.3s;
    }
    border-radius: 10px;
  }
}