@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: Montserrat;
  border: none;
  box-sizing: border-box;
}
p {
  font-size: clamp(12px, 3vw, 14px);
}
a:visited {
  color: black;
}
img {
  object-fit: cover;
  object-position: center;
}
body {
  max-width: 1440px;
  margin: auto;
  background-color: #fff;
}
.content-container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 0px calc(2 * min(2vw, 20px));
  overflow: hidden;
}
main {
  height: 100%;
  overflow-y: scroll;
}
.home {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: min(3vw, 30px);
}
.banner,
.banner img {
  width: 100%;
  aspect-ratio: 7/1;
  border-radius: 30px;
}
.banner {
  p {
    position: absolute;
    color: #fff;
    width: 100%;
    top: 50%;
    transform: translateY(-55%);
    text-align: center;
    font-weight: 700;
    font-size: clamp(24px, 4vw, 48px);
    z-index: 1;
    filter: drop-shadow(8px 8px 8px rgb(0, 0, 0));
  }
  img {
    filter: brightness(0.6);
  }
  position: relative;
}
@media screen and (max-width: 650px) {
  .banner {
    p {
      text-align: left;
      width: max(230px, 41%);
      left: 20px;
    }
    img {
      aspect-ratio: 3/1;
    }
  }
}
@media screen and (max-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 400px) {
  .cards {
    grid-template-columns: 1fr;
    padding: 0 0 10px 0;
    background-color: transparent;
    grid-auto-rows: 1fr;
    overflow: visible;
  }
  .nav {
    text-transform: uppercase;
  }
  .banner img {
    border-radius: 20px;
  }
  footer {
    p {
      width: 35%;
    }
  }
}
